html {
 	background: url('https://user-images.githubusercontent.com/78402036/106560487-ab938a80-6559-11eb-832d-73cdbc8e56a9.jpg');
 	background-repeat: no-repeat;
 	background-position: center top;
	background-size:cover;
	z-index:-10;
}
div.page1 {
	margin-top:15%;
	border-right:1px solid black;
	margin-right:50%;
	margin-left:15%;
	bottom:20%;
}
div.page1 h1 {
	font-family: Arial,sans-serif;
}
div.page1 h3 {
	font-family: Arial,sans-serif;
	color:red;
}
div.page1 p {
	margin-top:15%;
}
div.bg1 {
	background-color: rgb(230,230,230);
	position:absolute;
	top:20%;
	left:10%;
	right:10%;
	bottom:20%;
	z-index:-1;
}
div.bg2 {
	background-color: white	;
	position:absolute;
	top:16.5%;
	left:8%;
	right:8%;
	bottom:16.5%;
	z-index:-2;
}
div.img1 {
	position: absolute;
	top:26%;
	left:58%;
	right:15%;
	bottom:20%;
}
div.img1 img{
	min-width:400px;
	height:auto;
}
div.Aboutme img {
	position: absolute;
	top:0%;
	left:50%;
	right:0%;
	bottom:0%;
	max-width:597.5px;
	height:auto;
}
div.Aboutme a {
	display: inline-block;
 	text-decoration: none;
 	color: #fff;
 	background-color: #333;
 	padding-top: 1em;
 	padding-bottom: 1em;
 	padding-left: 3em;
 	padding-right: 3em;
 	text-transform:uppercase;
 	position:absolute;
 	top:15%;
 	left:20%;
 	z-index: 4;
}
div.Aboutme a:hover {
	color: black;
	background-color: #FFD700;
}
div.Aboutme a:hover + div.inA {
	opacity:1;
}
div.inA {
	position:absolute;
	top:20%;
	left:10%;
	right:10%;
	bottom:20%;
	opacity:0;
	background-color: grey;
	color:#EEE;
}
div.inA p {
	margin-top:8%;
}
div.inA h3 {
	font-family: Arial,sans-serif;
	padding-left: 12%;
	margin-top:10px;
}
div.inA h1 {
	color:black;
	transform: rotate(-90deg);
	position: absolute;
	top:164px;
	left:-185px;
	padding: 20px 157.5px 20px 157.5px;
	background-color:#FFD700;
}
div.skills a {
	display: inline-block;
 	text-decoration: none;
 	color: #fff;
 	background-color: #333;
 	padding-top: 1em;
 	padding-bottom: 1em;
 	padding-left: 4em;
 	padding-right: 4em;
 	text-transform:uppercase;
 	position:absolute;
 	top:15%;
 	left:43.5%;
 	z-index: 4;
}
div.Edu a {
	display: inline-block;
 	text-decoration: none;
 	color: #fff;
 	background-color: #333;
 	padding-top: 1em;
 	padding-bottom: 1em;
 	padding-left: 2.2em;
 	padding-right: 2.2em;
 	text-transform:uppercase;
 	position:absolute;
 	top:15%;
 	left:68%;
 	z-index: 3;
}
div.skills a:hover {
	color: #abc123;
	background-color:#562413;
}
div.Edu a:hover {
	color: #1b7a9f;
	background-color: #e6f3f6;
}
div.skills a:hover + div.pskills {
	opacity:1;
}
div.skills img.w {
	position: absolute;
	top:0%;
	left:58%;
	right:0%;
	bottom:0%;
    width:200px;
	height:auto;
}
div.skills img.c {
	position: absolute;
	top:0%;
	left:80%;
	right:0%;
	bottom:0%;
    width:auto;
	height:200px;
}
div.skills img.h {
	position: absolute;
	top:50%;
	left:52%;
	right:0%;
	bottom:0%;
    width:auto;
	height:200px;
}
div.skills img.set {
	position: absolute;
	top:50%;
	left:80%;
	right:0%;
	bottom:0%;
    width:200px;
	height:200px;
}
div.skills img.word {
	position: absolute;
	top:1%;
	left:32%;
	right:0%;
	bottom:0%;
    width:auto;
	height:200px;
}
div.skills img.ppt {
	position: absolute;
	top:50%;
	left:35%;
	right:0%;
	bottom:0%;
    width:200px;
	height:200px;
}
div.pskills {
	position:absolute;
	top:20%;
	left:10%;
	right:10%;
	bottom:20%;
	opacity:0;
	background-color: #e6f3f6;
	color:black;
}
div.edu {
	position:absolute;
	top:20%;
	left:10%;
	right:10%;
	bottom:20%;
	opacity:0;
	background-color: #90ee90;
	color:black;
}
div.pskills p {
	margin-top:6%;
}
div.pskills h3 {
	font-weight: normal;
	padding-left: 150px;
	font-family: Arial,sans-serif;
}
div.pskills h1 {
	color:#abc123;
	transform: rotate(-90deg);
	position: absolute;
	top:164px;
	left:-185px;
	padding: 20px 97.5px 20px 97.5px;
	background-color:#562413;
}
div.edu h1 {
	color:#1b7a9f;
	transform: rotate(-90deg);
	position: absolute;
	top:164px;
	left:-185px;
	z-index:2;
	padding: 20px 149px 20px 149px;
	background-color:#e6f3f6;
}
div.skills img.s {
	height:auto;
	width:auto;
	max-height: 20px;
	background-color: #e6f3f6;
}
div.edu img.line {
	position:absolute;
	height:380px;
	width:auto;
	left:10%;
	top:15.5%;
	z-index:1;
}
div.edu img.dot {
	height:auto;
	width:30px;
	position:absolute;
	left:45.95%;
	top:52%;
	z-index:2;
}
div.Edu a:hover + div.edu {
	opacity:1;
}
div.Edu a:hover + div.edu img.dot {
	animation-name: movedot;
	animation-duration:40s;
	opacity:0;
	transition-delay:39s;
}
div.Edu a:hover + div.edu .high{
	opacity:1;
	transition-delay: 8.8s;
	transition-duration: 2s;
}
div.Edu a:hover + div.edu .ie{
	opacity:1;
	transition-delay: 13.8s;
	transition-duration: 2s;
}
div.Edu a:hover + div.edu .jp{
	opacity:1;
	transition-delay: 19.3s;
	transition-duration: 2s;
}
div.Edu a:hover + div.edu .uni{
	opacity:1;
	transition-delay: 29.5s;
	transition-duration: 2s;
}
div.Edu a:hover + div.edu .sec {
	opacity:1;
	transition-delay: 4.8s;
	transition-duration: 2s;
}
div.Edu a:hover + div.edu .b {
	opacity:1;
	transition-delay: 0.5s;
	transition-duration: 2s;
}
@keyframes movedot {
	0% {left:9%;}
	5% {left:9%;}
	12.5% {left:19.2%;}
	15% {left:19.2%;}
	25% {left:32.2%;}
	27.5% {left:32.2%;}
	35% {left:50%;}
	37.5% {left:50%;}
	50% {left:60%;}
	52.5% {left:60%;}
	75% {left:76%;}
	77.5% {left:76%;}
 	100% {left: 96%;}
}
div.high {
	opacity:0;
	position:absolute;
	top:55%;
	left:33%;
	z-index:2;
	border-left:10px solid black;
	padding-left:30px;
}
div.Edu h3 {
	margin-top:-15px;
}
div.sec {
	opacity:0;
	position:absolute;
	top:6%;
	left:20%;
	z-index:2;
	border-left:10px solid black;
	padding-left:30px;
	padding-bottom: 25px;
}
div.uni {
	opacity:0;
	position:absolute;
	top:13%;
	left:76.9%;
	z-index: 2;
	border-left:10px solid black;
	padding-left:20px;
	padding-bottom:20px;
}
div.ie {
	opacity:0;
	position:absolute;
	top:21%;
	left:51%;
	z-index:2;
	border-left:10px solid black;
	padding-left: 30px;
	padding-bottom: 60px;
}
div.jp {
	opacity:0;
	position: absolute;
	top:55%;
	left:60.8%;
	z-index: 2;
	border-left: 10px solid black;
	padding-left: 30px;
	padding-bottom: 25px;	
}
h4.b {
	position:absolute;
	top:43%;
	left:7%;
}
h2.b {
	position: absolute;
	top:55%;
	left: 8%;
	z-index: 2;
	opacity: 0;
}
h4.sec {
	position:absolute;
	top:55%;
	left:16.5%;
}
h4.high {
	position:absolute;
	top:43%;
	left:29.5%;
}
h4.ie {
	position: absolute;
	top: 55%;
	left:50%;
}
h4.jp {
	position:absolute;
	top:43%;
	left:59.8%;
}
h4.uni {
	position:absolute;
	top:55%;
	left:76.2%;
}
h4 {
	font-family:Lucida Console,monospace; 
	z-index:2;
	opacity:0;
}
img.point {
	z-index:4;
	position:absolute;
	top:50.9%;
	right:0;
	width:30px;
	height:auto;
}
